/* signUp / Regist.. */

.regi {
padding-left: 35%;
padding-right: 35%;
margin-top: 15%;
}

.regiP{
    color: rgba(31, 14, 14, 0.918);
    font-size: medium;
    margin-top: .3rem;
}

.login {
padding-left: 35%;
padding-right: 35%;
margin-top: 15%;
}

.loginLink {
    color: blueviolet;
    text-decoration: none;
}

.loginLink:hover {
    color: red;
}

/* logIn  */

.submitBtn {
    color: snow;
    text-decoration: none;

}
.submitBtn:hover {
    color: snow;
}

/* Home.css*/

* {
    box-sizing: border-box;
    }
    
    body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    
    }
    
    a {
    color: #d74180;
    font-size: 16px;
    }
    
    a:hover{
    color: #808080;
    }
    
    section {
    padding: 20px;
    }
    
    .para {
    font-size: 16px;
    }
    
    h4, p {
    padding-bottom:5px;
    margin: 0;
    }

    .desc {
        color: black;
        font-size:large;

    }
    
    .logoTitle {
        color: snow;
    }

    .logoTitle:hover {
        color: snow;
    }

    .nav-manu{
        margin-bottom: 5rem;
    }
    .nav-color {
        background-color: #d74180;

    }

   
    .title {
        font-weight: 600;
        text-align: left;
        margin-right: 30rem;
        
        }


    .headLogo{
        height: 2rem;
        width: 2rem;
    }

    .options:hover {
        box-shadow:midnightblue;
        color: red;
        text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
        border-radius: 50%;

    }
    
    /* .material-symbols-outlined {
    font-variation-settings:
        'wght' 200,
        'GRAD' 20,
        'opsz' 24,
    } */


    .homeCards{
        margin-left: 10%;
        margin-right: 10%;
    }
    .card-style {
        width: 100%;
    }
    
    .card-img {
    
    min-width: 250px;
    max-width: 500px;
    margin-bottom: 15px;
    padding-left: 10px;
    }
    
    .title {
        color: forestgreen;
        font-size:xx-large;
    }

    .material-symbols-outlined {
        margin-right: .5rem;
        font-size:small;
    }

    .ReadMore {
        font-size: medium;
    }
    
   
    .journal-footer {
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #5a595a;
    height: 130px;
    margin-top: 10rem;
    clear: both;
    position: relative;
    bottom: 0;
    width: 100%;
    border-radius: 3px;
    }
    
    .footer-caption {
    padding-left: 5px;
    }
    
    /* For mobile phones: */
    [class*="card-"] {
    width: 100%;
    flex-direction: column;
    
    }
    
    /* media queries */
    

    /* Plan page */
    .plan {
        padding-left: 10%;
        padding-right: 10%;
    }
    /* Todo app */

    .todoLi {
    
        display: block;
        width: 100%;
        margin: auto;
        height:fit-content;
        margin-top: .1rem;
        justify-content: center;
        align-items:center;
        text-align: center;
        padding-bottom: 1rem;
    }
    .todoIn {
        width: 50%;
        margin-right: .5rem;
    }

    .todoBtn {
        border-radius: 5px;
    }